.classpath
.project
.settings
target
*~
*.class
*.jar
*.zip
*.orig
*.swp
.directory
.idea
*.iml

zoowps/src/main/java/org/jgrasstools/zoowps/*Wps.java
zoowps/src/main/java/*Wps.java
zoowps/config/*.zcfg
