[submodule "geoframe/geoframe-geoet/upstream"]
	path = geoframe/geoframe-geoet/upstream
	url = https://github.com/geoframecomponents/GEOET
[submodule "geoframe/geoframe-erm/upstream"]
	path = geoframe/geoframe-erm/upstream
	url = https://github.com/geoframecomponents/Embedded_Reservoir_Model-ERM
