.search-table-outter {
	border: 2px solid red;
	overflow-x: scroll;
}

body {
	background-color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
}

div.logo {
	width: 48px;
	height: 48px;
	background-image: url('hm48.png');
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

div.logoinitial {
	width: 200px;
	height: 200px;
	background-image: url('hm200.png');
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

span.footerText:before {
	content: "JGrasstools - http://www.jgrasstools.org";
}

font.logoTitle {
	color: #5d9d76;
}

table {
	display: table;
	border-collapse: collapse;
	width: 95%;
	max-width: 100%;
}

table, th, td {
	border: 2px solid darkgrey;
}

th, td {
	padding: 15px;
	text-align: left;
}

table.map {
	display: table;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
}

table.map, th.map, td.map {
	border: 2px solid darkgrey;
}

th.map td.map {
	padding: 15px;
	text-align: left;
}

table.sub {
	display: table;
	border-collapse: collapse;
	width: 100%;
	height: auto;
}

table.sub, th.sub, td.sub {
	border: 0px solid darkgrey;
}

th.sub, td.sub {
	padding: 5px;
	text-align: left;
}

#footer {
	width: 95%;
	margin-top: 40px;
	text-align: center;
}

/* MAIN MAP */
.mainMap {
	width: 100%;
}

.leftMap {
	float: left;
	width: 29%;
	height: 100vh;
}

.rightMap {
	float: right;
	width: 70%;
	height: 100vh;
}

canvas.map {
	width: 100%;
	height: 90vh;
	border: 1px solid black;
}

div.mapBorder{
	border: 1px solid black;
	background-color: #ffffff;
}

/*
  MENU BAR
  */
#menubar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #5d9d76;
}

#menubar li {
	float: left;
}

#menubar li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#menubar li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

#menubar li.dropdown {
	display: inline-block;
}

#menubar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#menubar .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

#menubar .dropdown-content a:hover {
	background-color: #f1f1f1
}

#menubar .dropdown:hover .dropdown-content {
	display: block;
}